spring:
  datasource:
    url: jdbc:postgresql://localhost:5445/auth_database
    username: developer
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
  data:
    redis:
      port: 6000

logging:
  level:
    root: INFO
